:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --tertiary-color: #724edd;
  --box-shadow: 0 5px 20px rgba(102, 102, 102, 0.3);
}
* {
  font-family: "Poppins";
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #ffffff,
    #f3f0fe,
    #e6e2fc,
    #dad3fa,
    #bfb2f5,
    #a691ee,
    #8c70e6,
    #724edd,
    #724edd,
    #8c70e6,
    #a691ee,
    #bfb2f5,
    #dad3fa,
    #e6e2fc,
    #f3f0fe,
    #ffffff,
    #ffffff
  );
}
/* start of navbar stlying */
header {
  background: var(--primary-color);
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  box-shadow: var(--box-shadow);
}
header .logo {
  font-size: 30px;
  text-transform: lowercase;
  color: var(--secondary-color);
}
header nav ul {
  display: flex;
  margin: 10px 20px;
}
header nav ul li a {
  display: inline-block;
  color: var(--secondary-color);
  font-weight: 600;
  padding: 5px 5px;
  margin: 0px 10px;
  border: 3px solid transparent;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s;
}
header nav ul li a:hover {
  border-bottom-color: var(--tertiary-color);
}
.hamburger {
  cursor: pointer;
  display: none;
}
.hamburger div {
  width: 30px;
  height: 3px;
  margin: 5px 0;
  background-color: var(--secondary-color);
}
@media only screen and (max-width: 900px) {
  header {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 700px) {
  .hamburger {
    display: block;
  }
  header nav {
    position: absolute;
    width: 100%;
    left: -100%;
    top: 5%;
    width: 100%;
    background: var(--primary-color);
    padding: 30px;
    transition: 0.3s;
  }
  header #nav_check:checked ~ nav {
    left: 0;
  }
  header nav ul {
    display: block;
  }
  header nav ul li a {
    margin: 5px 0;
  }
}
/* end of navbar stlying */
.container {
  margin-top: 30vh;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

.navigation-links {
  display: flex;
  margin-top: 20px;
}
.navigation-links a:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
}

.navigation-links a {
  margin: 10px;
  font-size: 12px;
  border-radius: 20px;
  padding: 10px 15px;
}

.primary-link {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-link {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  box-shadow: var(--box-shadow);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
/* start of about section */
.about-section {
  margin-top: 30vh;
  background: rgba(15, 14, 14, 0.151);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.about-me {
  text-align: right;
  margin-top: -40px;
  margin-bottom: -10px;
  margin-right: 23px;
}
.hello {
  text-align: right;
  letter-spacing: 20px;
  color: var(--primary-color);
  font-size: 3rem;
  opacity: 1;
}
.about-img {
  float: right;
  width: 300px;
}
p {
  font-size: 18px;
  line-height: 1.5;
  padding: 20px 30px;
  color: #000000;
}
/* end of about section */

/* start of skills section */
.container text-center img {
  margin: 10px;
  justify-content: space-between;
}
.skills-section {
  margin: 50px 20px;
  padding: 10px 10px;
  border-radius: 15px;
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow);
}
.skills-section ul {
  padding: 0px;
}
.coding-icon {
  width: 25%;
  margin: 60px 0px;
  padding: 20px;
  border-radius: 30px;
  background-color: #d8d8d8;
}
.wireframe-icon {
  width: 30%;
  margin: 60px 0px;
  padding: 20px;
  border-radius: 30px;
  background-color: #d8d8d8;
}
.purple {
  color: var(--tertiary-color);
}
/* end of skills section */

/* start of get in touch section */
.contact-card {
  display: flex;
  flex-direction: row;
  background-color: #a8a8a8;
  padding: 30px 30px;
  margin: 10px;
  justify-content: space-evenly;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}
.contact-card h3 {
  margin: 30px;
  color: var(--primary-color);
  opacity: 1;
  font-weight: 600;
}
.contact-card p {
  margin: 10px;
}
.contact-card a {
  margin: 20px;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
}
/* end of get in touch section */

/* start of footer */
.footer-container {
  margin-top: 100px;
  width: 100%;
  padding: 70px, 30px, 20px;
}
.social-icons {
  display: flex;
  justify-content: center;
}
.social-icons a {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
}
.social-icons a:hover {
  border: 1px solid var(--tertiary-color);
}
.social-icons a i {
  font-size: 2em;
  color: var(--primary-color);
}
footer p {
  text-align: center;
}
footer img {
  width: 15%;
}
/* endd of footer */
@media (max-width: 766px) {
  .about-section {
    width: 100%;
  }
  .contact-card {
    padding: 10px 20px;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }
}

@media (max-width: 576px) {
  h2,
  h1,
  h3,
  .navigation-links {
    margin-left: 5vh;
  }
  .col {
    width: 100%;
    text-align: center;
  }
  .contact-card {
    padding: 10px 20px;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }
}
